<!--This is the navbar where clicking on different buttons refers you to 
the relevant page.-->
<!DOCTYPE html>
<html>
<head>
    <title>Musec.</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<div id="navbar">
    <h1>MUSEC.</h1>
    <a href = '/login'>Login</a> - 
    <a href = '/'>Create Account</a> - 
    <a href = '/profile'>Profile</a> - 
    <a href = '/album'>Album</a> - 
    <a href = '/artist'>Artist</a> - 
    <a href = '/genre'>Genre</a><br>

    <p id='logged_in'>{% if username %} Logged in as {{username}} {% endif %}</p>
</div>
</html>