<!--A username and passwrd textbox that takes a text input
and a submit button-->
{% include 'header.html'%}<br>

<style>
    input{
        width: 100%;
    }
    div{
        width: 300px;
        padding: 5px;
        border: 3px palegoldenrod;
        margin: 0%;
    }
</style>

<div>
    <p>Login:</p>
    <form action = '/login' method='POST'>
        <label for = 'username'>Username:</label><br>
        <input type = 'text' name='username'><br>
        <label for = 'password'>Password:</label><br>
        <input type = 'password' name='password'><br>
        <input type = 'submit' value = 'Login'>
    </form>
</div>