<!--A username and passwrd textbox that takes a text input
and a submit button-->
<html>
    <head>
        <title>Musec.</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>

    <div id='navbar'>
        <h1>MUSEC.</h1>
        <a href = '/login'>Login</a> - 
        <a href = '/'>Create Account</a>
    </div>

    <div id='login_create'>
        <h2>Login:</h2>
        <form action = '/login' method='POST'>
            <label for = 'username'>Username:</label><br>
            <input type = 'text' placeholder='Enter Username' maxlength='10' name='username'
            style='width: 300px'><br>
            <label for = 'password'>Password:</label><br>
            <input type = 'password' placeholder='Enter Password' maxlength='12' name='password'
            style='width: 300px'><br>
            <input type = 'submit' value = 'Login'>
        </form>
        <p>{% if errorMessage %} {{errorMessage}} {% endif %}</p>
    </div>
</html>